extends layout 

block content 
  h1= title 
  a(href='/') Home
  a.new-category(href="/catalog/category/create") Add new category
  hr
  if (allCategories.length > 0)
    ul
      for category in allCategories
        li 
          a(href=category.url) #{category.name}
          span #{category.description}
  else
    span There are no categories
