extends layout 
block content 

  form(action="", method="post")
    if (redirectFromItemForm)
      span Let's start by creating a category first
      input(type="hidden" name="redirectTo" value="/catalog/item/create")
    div
      label(for="name") Name
      input(type="text" name="name" id="name" value=(name ? name : ''))
    div 
      label(for="description") Description
      input(type="text" name="description" id="description" value=(description ? description : ''))
    div
      a(href="#" onclick="history.go(-1)") Go back
      button(type="submit") Submit