extends layout 
block content 

  form(action="", method="post")
    div
      label(for="name") Name
      input(type="text" name="name" id="name" value=(name ? name : ''))
    div 
      label(for="description") Description
      input(type="text" name="description" id="description" value=(description ? description : ''))
    button(type="submit") Submit