extends layout

block content
  h1= title
  p= "You are free to manage the inventory! Try creating, reading, deleting and updating some items and their categories."
  a.items(href="/catalog/all") Items 
  a.categories(href="/catalog/category/all") Categories
