extends layout 
block content 

  form(action="", method="post")
    div
      label(for="name") Name
      input(type="text" name="name" id="name" value="")
    div 
      label(for="description") Description
      input(type="text" name="description" id="description" value="")
    button(type="submit") Submit